.container {
  position: absolute;
  top: 120px;
  left: 20px;
  z-index: 3;
}

.dropdownMenu {
  max-width: fit-content;
  max-width: 100px;
}

.dropdownItemMonth {
  min-width: max-content;
}

.dropdown-menu.show {
  min-width: none;
  background-color: red;
}