.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 90%;
}
.containerTable {
  position: relative;
  top: 140px;
  max-width: 80%;
  max-height: 38rem;
  overflow: auto;
}

.SaveButtonContainer {
position: relative;
top: 100px;
left: 49%;
}
@media (max-width: 500px) {
  .SaveButtonContainer {
    position: relative;
    left: 0;
    top: 120px;
    /* padding: 0 25px; */
  }
}
/* .container::-webkit-scrollbar {} */

.container th[scope=row] {
  min-width: 200px;
  position: sticky;
  
  left: 0;
  z-index: 0;
  background-color: hsl(0, 0%, 100%);
}

.container td {
  text-align: center;
  /* center checkbox horizontally */
  vertical-align: middle;
  /* center checkbox vertically */

  background-color: whitesmoke;
}
.stickyCorner{
  position: sticky;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: aliceblue;
}

.stickyHeader {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: yellow;
  width: 10px;
  min-width: 30px;
}

.stickySympthoms {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: aliceblue;
}


/* styles.module.css */
.tableContainer {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  border: 1px solid black;
  gap: 5px;
  height: 50rem;
  width: 80%;
  overflow: auto;
  
}

.topHeaders {
  display: flex;
  border-bottom: 1px solid #ccc;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header {
  flex: 1;
  padding: 10px;
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
  margin-top: 0;
  text-wrap: nowrap;
}

.corner {
  min-width: 180px;
  /* width of row headers */
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.tableR {
  display: flex;
  flex-direction: row;
  max-width: fit-content;
  gap: 20px;
}

.tableColumn {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  gap: 20px;
}

.tableRow {
  display: flex;
  border-bottom: 1px solid #ccc;

}

.rowHeader {
  width: 180px;
  padding: 10px;
  background-color: #f0f0f0;
  border-right: 1px solid #ccc;
  border: 2px solid black;
}

.tableCell {
  flex: 1;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
}