.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container button {
  width: 150px;
}

.buttonContinueWithGoogle {
  position: relative;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 189px;
  height: 40px;
  top: 40px;
  /* padding-top: 20px;  */
}

@media (max-width: 500px) {
  .buttonContinueWithGoogle {
    top: 0;
  }
}

.inputWrongCredentials {
  border: solid red 5px;
  border-color: red;
}


.wrongCredentialsInfoContainer{
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: rgba(255,59,98,.08);
  max-width: fit-content;
  max-height: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  text-wrap: nowrap;
  align-items: center;
}
.wrongCredentialsInfoContainer p {
  padding-top: 15px;
}

/* .container p {
  background-color: rgba(255,59,98,.08);
  position: fixed;
  text-wrap: nowrap;
  display: flex;
  flex-direction: row;
} */

.containerButtonExit {
  margin: auto;
  margin-right: 0px;
  max-width: fit-content;
  background-color: red;
}