.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.container button {
  width: 150px;
  margin: auto;
}

.signUpContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
}

#buttonContinueWithGoogle {
  position: relative;
  padding: 0;
  background-color: red;
  top: 480px;
  /* padding-top: 20px;  */
}